<app-layout>
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-exercice (sidenavClose)="sidenav.close()"></app-exercice>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>

                <div class="chargement" *ngIf="!isLoaded">
                    <mat-spinner mode="indeterminate" color="primary">Chargement</mat-spinner>
                </div>

                <div *ngIf="isLoaded" style="margin-top: 100px; display:flex; justify-content:space-between">
                  <h2 mat-title style="flex:2; position:relative; left:30px">
                    Statistiques des depenses et recettes par exercice</h2>
                  <!-- retour exercice -->
                  <button mat-raised-button style="color:#fff; position:relative; right:50px">
                    <a routerLink="/exercice" style="text-decoration: none;">Retour</a>
                  </button>
                  <button mat-raised-button ngxPrint printSectionId="dataToPrint" printTitle="Graphique des revenus par exercice"
                  style="background-color:green; color:#fff; position:relative; right: 40px;" >Imprimer</button>
                </div>

                <div class="content" id="dataToPrint" *ngIf="isLoaded">

                    <div class="listeExercice" *ngIf="listeStat.length">
                        <ngx-charts-bar-vertical-stacked [view]="[570,300]" [results]="listeStat" [xAxisLabel]="'Intitule de l\'\ exercice '" [legendTitle]="'Types'" [yAxisLabel]="'Montants'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
                            [yAxis]="true" [gradient]="true" [showGridLines]="true" [showDataLabel]="true">
                        </ngx-charts-bar-vertical-stacked>
                    </div>

                </div>


            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</app-layout>
